fastapi==0.111.0
uvicorn[standard]==0.30.1
boto3==1.34.144
python-multipart==0.0.9
pydantic==2.7.4
torch==2.3.0
torchvision==0.18.0
efficientnet-pytorch==0.7.1
transformers==4.41.2
librosa==0.10.2
soundfile==0.12.1
opencv-python-headless==4.10.0.84
Pillow==10.3.0
numpy==1.26.4
ffmpeg-python==0.2.0
insightface==0.7.3
dlib==19.24.4
mediapipe==0.10.14
open-clip-torch==2.24.0
python-dotenv==1.0.1
huggingface-hub==0.23.4
wandb==0.17.3
aiofiles==23.2.1
httpx==0.27.0
